<div id="<%= dom_id logs_merc %>">
  <p>
    <strong>User:</strong>
    <%= logs_merc.user_id %>
  </p>

  <p>
    <strong>M name:</strong>
    <%= logs_merc.m_name %>
  </p>

  <p>
    <strong>T name:</strong>
    <%= logs_merc.t_name %>
  </p>

</div>
