<h1>Editing logs merc</h1>

<%= render "form", logs_merc: @logs_merc %>

<br>

<div>
  <%= link_to "Show this logs merc", @logs_merc %> |
  <%= link_to "Back to logs mercs", logs_mercs_path %>
</div>
