<h1>Editing terrorist match</h1>

<%= render "form", terrorist_match: @terrorist_match %>

<br>

<div>
  <%= link_to "Show this terrorist match", @terrorist_match %> |
  <%= link_to "Back to terrorist matches", terrorist_matches_path %>
</div>
