<h1>Editing terrorist</h1>

<%= render "form", terrorist: @terrorist %>

<br>

<div>
  <%= link_to "Show this terrorist", @terrorist %> |
  <%= link_to "Back to terrorists", terrorists_path %>
</div>
